@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #e4bff3, #ffffff);
}

.card-title {
  color: #7700a6 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Apply bold font weight to card titles */
}

/* Add your other CSS styles here */
